@model EmployeeModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row">
                @Html.HiddenFor(m=>m.EmployeeID,new {@class="form-control"})
            <div class="col-md-3">
                @Html.LabelFor(m=>m.EmployeeCode)
                @Html.TextBoxFor(m=>m.EmployeeCode,new {@class="form-control",@onkeyup="$(this).val($(this).val().replace(/[^\\d]/ig, ''))"})
                @Html.ValidationMessageFor(m => m.EmployeeCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m=>m.EmployeeName)
                @Html.TextBoxFor(m=>m.EmployeeName,new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.EmployeeName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m=>m.DateOfBirth)
                @Html.TextBoxFor(m=>m.DateOfBirth,"{0:yyyy-MM-dd}",new {@class="form-control",@type="date"})
                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m=>m.Gender)
                @Html.DropDownListFor(m => m.Gender,new List<SelectListItem>
            {
            new SelectListItem { Text = "Male", Value = "True" },
            new SelectListItem { Text = "Female", Value = "False" }
            },
            "Select Gender",
            new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m=>m.Department)
                @Html.TextBoxFor(m=>m.Department,new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Department, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m=>m.Designation)
                @Html.TextBoxFor(m=>m.Designation,new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m=>m.BasicSalary)
                @Html.TextBoxFor(m=>m.BasicSalary,new {@class="form-control",@onkeyup="$(this).val($(this).val().replace(/[^\\d]/ig, ''))"})
                @Html.ValidationMessageFor(m => m.BasicSalary, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <input type="submit" value="Edit" class="btn btn-outline-success btn-sm" />
                @Html.ActionLink("Cancle","Index","Home",null,new {@class="btn btn-secondary btn-sm"})
            </div>
        </div>
    </div>
    <br />
    <br />
    @if (ViewBag.Message != null)
    {
        <div class="row">
            @Html.Label("lblErrorMsg",ViewBag.Message,new {@class="text-danger"})
        </div>
    }
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>